@charset "UTF-8";

body {
  font-family: "Tinos", serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  display: block;
}
button {
  background-color: #43497c;
  color: white;
  padding: 20px 60px;
  display: inline-block;
}

/*-----header---------*/
.header_area {
  width: 100%;
  height: 70px;
}

.header_area > .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* ↑ sp時のみ適用*/
  align-items: center;
}

/*------- header>logo------- */
#area_logo_header {
  width: 87px;
  height: 70px;
  background-image: url(../img/logo_img.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% 100%;
}

/*------ sp時は非表示 ---------*/
.sentence_logo {
  display: none;
}
#area_gNav {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  width: 60vw;
  height: 100vh;
  background: #e9c3cbea;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2;
  transition: 0.3s;
}

#area_gNav.open {
  right: 0%;
  display: initial;
}

.nav_gNav-menu {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
}
.nav_gNav-menu li {
  color: #000000;
  margin: 10px auto;
}

/* -----------gNav-------------------- */
#btn_gNav_header {
  position: absolute;
  width: 40px;
  height: 22px;
  right: 10px;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#btn_gNav_header span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#btn_gNav_header span:nth-child(1) {
  top: 0;
}

#btn_gNav_header span:nth-child(2) {
  top: 10px;
}

#btn_gNav_header span:nth-child(3) {
  top: 20px;
}
#btn_gNav_header.open span:nth-child(1) {
  background: #ffffff;
  top: 6px;
  /* 線が三本線から✖に */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#btn_gNav_header.open span:nth-child(2),
#btn_gNav_header.open span:nth-child(3) {
  top: 6px;
  background: #ffffff;
  /* 線が三本線から✖に */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 600px) {
  #btn_gNav_header {
    display: none;
  }

  .header_area > .container {
    justify-content: inherit;
  }

  .area_nav_header {
    width: calc(100% - 87px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #area_gNav {
    display: block;
    position: static;
    width: 50%;
    height: 70px;
    background: none;
    font-size: 14px;
    box-sizing: border-box;
    z-index: inherit;
  }

  .sentence_logo {
    display: inherit;
    font-size: 1vw;
    margin-left: 18px;
  }

  .nav_gNav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: inherit;
    text-align: left;
  }

  .nav_gNav-menu li {
    color: black;
    font-size: 1.16vw;
    margin-right: 4.1%;
  }
}
/*----------- main-visual--------- */

#area_section_main-visual {
  width: 100%;
  height: 500px;
  background-image: url(../img/main_visual_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sentence_main-visual {
  font-size: 2.4rem;
}

/*--------- main-visual-sp--------------- */
@media screen and (min-width: 800px) {
  #area_section_main-visual {
    height: 717px;
    text-align: right;
    background-position: center;
    display: inherit;
  }
  .sentence_main-visual {
    margin-right: 11%;
    padding-top: 300px;
    font-size: 4rem;
  }
}

/*------------nearby----------- */

#area_section_nearby {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#area_section_nearby > .container {
  width: 98%;
  height: 800px;
}

.area_title_nearby {
  margin-top: 50px;
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.area_title_nearby p {
  font-size: 0.875rem;
}
.title_nearby {
  font-size: 1.9rem;
}
.container_flex_nearby {
  width: 100%;
  height: 335px;
  text-align: center;
}

.img_nearby {
  width: 100%;
  /* pc44 */
  height: 100%;
  background-image: url(../img/img_nearby.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.area_article_nearby {
  width: 100%;
  text-align: center;
  height: 100%;
  padding: 87px 2% 46px 2%;
}
.area_article_nearby > p {
  text-align: left;
  margin-left: 20px;
}
.subtitle_nearby {
  font-size: 1.125rem;
  margin-bottom: 16px;
}

.view-dress {
  margin: 30px auto 0 auto;
}

/* -------------nearby-pc----------- */

@media screen and (min-width: 650px) {
  #area_section_nearby {
    height: 1066px;
  }

  #area_section_nearby > .container {
    width: 95%;
    height: 500px;
    margin-top: 213px;
  }

  .container_flex_nearby {
    display: flex;
  }

  .area_title_nearby {
    margin-bottom: 70px;
  }

  .title_nearby {
    font-size: 4rem;
  }

  .img_nearby {
    width: 44%;
  }

  .area_article_nearby {
    width: 56%;
    text-align: left;
    padding-left: 2%;
    padding-bottom: 24px;
  }

  #area_section_nearby {
    height: 1050px;
  }

  .area_article_nearby > p {
    text-align: left;
    margin-left: 0px;
  }
}

/* -------dress------------- */

#area_section_dress {
  width: 100%;
  height: 465vw;
  background-color: #43497c;
  color: #ffffff;
}

#area_section_dress > .container {
  width: 95%;
  height: 460vw;
  /* pc width:65%; */
}

.area_title_dress {
  width: 100%;
  height: 31.25vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.area_title_dress p {
  font-size: 0.7rem;
}

.title_dress {
  font-size: 2.5rem;
}

.area_items_dress_wrap {
  width: 100%;
  height: 428vw;
  display: flex;
  flex-wrap: wrap;
}

.item_wedding-dress_of_dress {
  width: 100%;
  height: 78vw;
  text-align: center;
}

.img_wedding-dress {
  width: 100%;
  height: 62vw;
  background-image: url(../img/img_wedding.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 14px;
}

.item_dress {
  width: 100%;
  text-align: center;
}

.item_dress p {
  margin-top: 14px;
}

.color-dress {
  height: 159vw;
}

.img_color-dress {
  width: 100%;
  height: 141vw;
  background-image: url(../img/img_color-dress.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tuxedo {
  height: 180vw;
}

.img_tuxedo {
  width: 100%;
  height: 150vw;
  background-image: url(../img/img_tuxedo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* --------dress-pc------------ */

@media screen and (min-width: 700px) {
  #area_section_dress {
    height: 1209px;
  }

  #area_section_dress > .container {
    width: 80%;
    height: 1160px;
  }

  .area_title_dress {
    width: 100%;
    height: 160px;
    text-align: center;
  }

  .area_title_dress p {
    font-size: 0.8125rem;
  }

  .title_dress {
    font-size: 4rem;
  }

  .area_items_dress_wrap {
    width: 100%;
    height: 1000px;
  }

  .item_wedding-dress_of_dress {
    width: 90%;
    margin: 0 auto;
    height: 450px;
  }

  .img_wedding-dress {
    width: 100%;
    height: 420px;
    background-size: cover;
  }

  .item_dress {
    width: 38.3%;
    text-align: center;
  }

  .item_dress p {
    margin-top: 5px;
  }

  .color-dress {
    height: 470px;
    margin-right: 11%;
  }

  .img_color-dress {
    width: 100%;
    height: 445px;
    background-size: cover;
  }

  .tuxedo {
    height: 470px;
    margin-left: 11%;
  }

  .img_tuxedo {
    width: 100%;
    height: 445px;
    background-size: cover;
  }
}

@media screen and (min-width: 1000px) {
  #area_section_dress > .container {
    width: 70%;
  }
}

/* ----Area--------- */

#area_section_Area {
  width: 100%;
  height: 1250px;
  background-image: url(../img/img_section_area_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 140px 0;
}

#area_section_Area > .container {
  width: 100%;
}

.area-title_Area {
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 30px;
}
.title_Area {
  font-size: 2.5rem;
}

.area_flex-items_Area {
  display: flex;
  flex-wrap: wrap;
}

.area_flex_item_Area {
  width: 90%;
  height: 370px;
  margin: 0 auto;
}
.area_item_img {
  width: 100%;
  height: 272px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img_okinawa {
  background-image: url(../img/img_okinawa.png);
}
.img_hawaii {
  background-image: url(../img/img_hawaii.png);
}
.img_guam {
  background-image: url(../img/img_guam.png);
}
.trip_sentence {
  font-size: 0.8rem;
  margin-left: 2%;
  margin-top: 21px;
}
.trip {
  margin-top: 1rem;
  margin-left: 2%;
  font-size: 1.125rem;
}
@media screen and (min-width: 450px) {
  .area_flex_item_Area {
    width: 70%;
  }
}
@media screen and (min-width: 530px) {
  .area_flex_item_Area {
    width: 85%;
  }
}

@media screen and (min-width: 850px) {
  #area_section_Area {
    height: 1030px;
    margin: 220px 0;
  }

  #area_section_Area > .container {
    width: 100%;
    height: 743px;
  }

  .area-title_Area {
    width: 100%;
    height: 288px;
    text-align: center;
    padding-top: 30px;
  }
  .title_Area {
    font-size: 4rem;
  }

  .area_flex-items_Area {
    width: 100%;
    height: 455px;
    display: flex;
    flex-wrap: wrap;
  }

  .area_flex_item_Area {
    width: calc(calc(100% - 9%) / 3);
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    margin: 0 1.5%;
  }
  .area_item_img {
    width: 100%;
    height: 272px;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
  }
}

/* --------Access--------- */

#area_section_access {
  width: 100%;
  height: 1180px;
  background-color: #fff5f6;
  margin-bottom: 90px;
}

#area_section_access > .container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.area_img_left_access {
  width: 100%;
  height: 350px;
  /* height: 430px; */
  object-fit: cover;
}

.area_article_access {
  width: 100%;
  height: 190px;
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.area_title_access-sp {
  width: 100%;
  text-align: center;
}
.title_access-sp {
  font-size: 2.5rem;
  padding: 30px 30%;
}
.title_access {
  display: none;
  font-size: 4rem;
  margin-bottom: 86px;
}

.area_img_right_access {
  width: 100%;
  height: 400px;
  /* height: 430px; */
  object-fit: cover;
  object-position: 20% 60%;
}
.tel_fax {
  font-size: 0.8rem;
  margin-top: 5px;
}
.time_shop_open {
  font-size: 0.8rem;
  margin-bottom: 10px;
}
@media screen and (min-width: 650px) {
  #area_section_access {
    width: 100%;
    height: 430px;
    margin-bottom: 230px;
  }

  #area_section_access > .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .area_img_left_access {
    width: 25%;
    height: 430px;
    object-fit: cover;
  }

  .area_article_access {
    width: 50%;
    height: 430px;
    text-align: center;
    padding: 30px 0;
  }
  .area_title_access-sp {
    display: none;
  }
  .title_access-sp {
    display: none;
  }
  .title_access {
    display: inherit;
    font-size: 4rem;
  }

  .area_img_right_access {
    width: 25%;
    height: 430px;
    object-fit: cover;
    object-position: 60%;
  }
}

/* --------community-------------- */

#area_section_community {
  width: 100%;
  height: 750px;
}

#area_section_community > .container {
  width: 100%;
  height: 100%;
}

.area_title_community {
  display: none;
}

.area_title_community-sp {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  margin-bottom: 30px;
}

.area_title_community-sp p {
  font-size: 0.875rem;
}

.title_community {
  font-size: 2.3rem;
}
.area_flex_community {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.area_img_community-sp {
  width: 100%;
  height: 345px;
  object-fit: cover;
}

.area_img_community {
  display: none;
}

.high_quality {
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 18px;
}

.sentence_community {
  font-size: 0.8rem;
}
.sentence_community-bottom {
  font-size: 0.95rem;
  margin: 10px 0 18px 0;
}

@media screen and (min-width: 800px) {
  #area_section_community {
    width: 100%;
    height: 420px;
  }
  #area_section_community > .container {
    display: flex;
    height: 100%;
  }
  .area_title_community-sp {
    display: none;
  }

  .area_title_community {
    display: inherit;
  }

  .area_flex_community {
    display: flex;
  }

  .area_article_community {
    display: block;
  }

  .area_img_community {
    display: inherit;
    width: 50%;
    height: 345px;
    object-fit: cover;
  }

  .area_img_community-sp {
    display: none;
  }
}

/* --------press------------------ */

#area_section_press {
  width: 100%;
}
#area_section_press > .container {
  width: 80vw;
}
.area_title_press {
  width: 100%;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
}

.title_press {
  font-size: 2.5rem;
}
.area_title_press p {
  font-size: 0.875rem;
}
.area_items_press_flex-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.area_item_press {
  width: 80vw;
  text-align: center;
}

.area_item_press {
  font-size: 0.8rem;
}

.img_press {
  width: 80vw;
  object-fit: contain;
  object-position: 50% 0%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.area_button_read-more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 50px 0;
}

@media screen and (min-width: 700px) {
  #area_section_press {
    width: 100%;
    height: 580px;
  }
  #area_section_press > .container {
    width: 98%;
    height: 100%;
  }
  .area_title_press {
    width: 100%;
    height: 70px;
    text-align: center;
  }

  .title_press {
    font-size: 2.5rem;
  }

  .area_items_press_flex-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .area_item_press {
    width: calc(calc(100% - 50px) / 5);
    height: 410px;
    text-align: center;
    margin: 0px 5px;
  }

  .img_press {
    width: 100%;
    height: 293px;
    object-fit: cover;
    object-position: 50% 0%;
  }
}

/*-------------question-reservation-------- */

#area_section_question-reservation {
  width: 100%;
  height: 526px;
  background-image: url(../img/question_reservation.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 30%;
  display: flex;
  align-items: center;
}
#area_section_question-reservation > .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.area_button_question-reservation {
  padding-top: 40px;
  width: 100%;
  height: 230px;
  text-align: center;
}

.area_button_question-reservation > button {
  width: 240px;
  height: 64px;
  text-align: center;
  margin: 0 10px 30px 10px;
}

@media screen and (min-width: 600px) {
  #area_section_question-reservation > .container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .area_button_question-reservation {
    padding-top: 40px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
  }

  .area_button_question-reservation > button {
    width: 240px;
    height: 64px;
    text-align: center;
    margin-bottom: 30px;
  }
}

/* -----footer----- */

.area_footer {
  width: 100%;
  height: 540px;
  background-color: black;
  color: #ffffff;
}

.area_footer > .container {
  width: 98%;
  height: 350px;
  padding-top: 110px;
}
.area_logo_about_footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.area_address_footer {
  margin-left: 2%;
  font-size: 0.6rem;
}
.img_logo_footer {
  width: 87px;
  height: 70px;
}

.area_nav_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.area_nav_footer_child {
  margin: 0 5%;
  text-align: center;
  font-size: 0.875rem;
}

.area_nav_footer_child li {
  margin: 0px 0px 7px 0px;
  font-size: 0.6rem;
}
.area_copy-right_footer {
  border-top: 1px solid gray;
  width: 90%;
  margin: 0 auto;
  font-size: 0.8rem;
  padding-top: 34px;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .area_footer > .container {
    display: flex;
  }
  .area_nav_footer,
  .area_logo_about_footer {
    width: 50%;
    margin: 0;
  }
}
